body{
    background-color: #CAF4FF;
}
.first-page{
    height: 100vh;
    width: 100vw;
}
.bg-container{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(./bubble1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.myphoto{
    margin: 0;
    padding: 0;
    margin-top: 150px;
    margin-right: 8vh;
    border-radius: 50px;
    float: right;
    position: relative;
    gap: 10px;
    height: 400px;
    width: 300px;
    background-image: url(./WhatsApp\ Image\ 2024-05-23\ at\ 8.42.31\ PM\ \(1\).jpeg);
    background-size: cover;
}
.text-container{
   position: absolute; 
   left: 15vh; 
   top: 12vh;
   font-size: 30px;
}
.text1{
    position: absolute;
    top: 15vh;
    font-family: merienda;
    font-size: bold 700;
}
.text2{
    position: relative;
    top: 8vh;
    font-family: merienda;
}
.hover-button {
    display: inline-block;
    top: 80vh;
    width: 200px; 
    height: 50px; 
    line-height: 50px; 
    background-color:#5AB2FF; 
    color: black; 
    text-align: center; 
    text-decoration: none; 
    font-size: 30px;
    font-family: merienda; 
    font-weight: bold;
    border-radius: 50px;
    transition: background-color 0.3s ease; 
    margin: 10px; 
    margin-top: 50px;
}
.hover-button:hover {
    background-color: #0056b3; 
}
.second-page{
    height: 100vh;
    width:100vw;
}
body{
    background-color: #CAF4FF;
}
.photo{
    margin: 0;
    padding: 0;
    margin-top: 50px;
    /* margin-right:90px ; */
    margin-right: 10vh;
    border-radius: 50px;
    float: right;
    position: relative;
    gap: 10px;
    height: 500px;
    width: 500px;
    background-image: url(./girlll-removebg-preview.png);
    background-size: cover;
}
.text{
    position: relative; 
   left: 15vh; 
   top: 10vh;
   font-size: 60px;
   font-family: merienda;
}
.multiple-lines{
    position: relative;
    top: -10vh;
}
.fst-line{
    position: relative;
    left: 20vh;
    top:24vh ;
    font-size: 30px;
    font-family: merienda;
}
.snd-line{
    position: relative;
    left: 20vh;
    top:20vh ;
    font-size: 30px;
    font-family: merienda;
}
.trd-line{
    position: relative;
    left: 20vh;
    top:16vh ;
    font-size: 30px;
    font-family: merienda;
}
.foth-line{
    position: relative;
    left: 30vh;
    top:12vh ;
    font-size: 30px;
    font-family: merienda;
}
.fith-line{
    position: relative;
    left: 20vh;
    top:8vh ;
    font-size: 30px;
    font-family: merienda;
}
.sith-line{
    position: relative;
    left: 20vh;
    top:4vh ;
    font-size: 30px;
    font-family: merienda;
}
.seth-line{
    position: relative;
    left: 20vh;
    /* top:2vh ; */
    font-size: 30px;
    font-family: merienda;
}
.eith-line{
    position: relative;
    left: 20vh;
    top:-4vh ;
    font-size: 30px;
    font-family: merienda;
}
.third-page{
    height: 100vh;
    width: 100vw;
}
body{
    background-color: #CAF4FF;
    margin: 0;
    overflow-x: hidden;
}
.contact-photo{
    position: absolute;
    margin: 0;
    padding: 0;
    height: 200px;
    width: 800px;
   margin-left: 50vh;
    background-image: url(./get-on-touch-07.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.first-line{
    position: relative;
    left: 40vh;
    top:38vh ;
    font-size: 30px;
    font-family: merienda;
}
.second-line{
    position: relative;
    left: 40vh;
    top:34vh ;
    font-size: 30px;
    font-family: merienda;
}
.third-line{
    position: relative;
    left: 40vh;
    top:30vh ;
    font-size: 30px;
    font-family: merienda;
}
.insta{
    width: 42px;
    height: 42px;
   position: relative;
    top: 57vh;
    left: 173vh;

}
.linkedin{
    width: 42px;
    height: 42px;
    position: relative;
    top: 57vh;
    left: 158vh;
}
.email{
    width: 40px;
    height: 35px;
    position: relative;
    top: 56.5vh;
    left: 170vh;
}
.footer{
    position: relative;
    top: 57vh;
    left: 20vh;
    font-size: 18px;
}